@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:ital,wght@1,600&display=swap');
#small{
    background-color: #CFFDE1;
    width: 400px;
    height: 400px;
    color: blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 50px;
}

#big{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 50px;
    margin: 10px;
}

.cerin{
    border: 3px solid black;
    background-color: #D23369;
    color: #F5EBE0;
    height: 700px;
    width: 700px;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}